

#Bloc_Page{
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
}

    #Menu_du_header{
        display: flex;
        align-content: space-between;
    }

    ul.menu{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .element_menu{
        padding-left: 2em;
    }

#bloc_grosse_image{
    background-image: url(../Defi_openclassrooms/images/backgroung_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15em 0em 15em 0em;
    display: flex;
    flex-direction: column;
    
}


    #image_centre{
        width: 15em;
        align-self: center;
    }

    #Titre_centre{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;

    }

#Texts_blocs{
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

    #premier_text{
        border: 1px solid black;
        text-align: center;
    }

    #les_trois_blocs{
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .blocs{
            border: 1px solid black;
            text-align: center;
            width: 33%;
            
        }

        .titre{
            text-transform: uppercase;
        }

    #dernier_text{
        border: 1px solid black;
        margin: 0em 2em 0em 2em;
        text-align: center;
    }