

.Bloc_Page{
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
}

    .Menu_du_header{
        display: flex;
        align-content: space-between;
    }

    ul.menu{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .element_menu{
        padding-left: 2em;
    }

.bloc_grosse_image{
    background-image: url(../Defi_openclassrooms/images/backgroung_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15em 0em 15em 0em;
    display: flex;
    flex-direction: column;
    
}


    .image_centre{
        width: 15em;
        align-self: center;
    }

    .Titre_centre{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 2.2em;
        text-align: center;
    }

.Texts_blocs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

    .les_trois_blocs, .premier_text{
        width: 75%;
    }

    .premier_text{
        text-align: center;
        font-size: 1.7em;
        color: #575757;
        margin: auto;
        margin-top: 2%;
        font-family: 'Roboto', sans-serif;
    }

    .les_trois_blocs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 5%;
        font-family: 'Roboto', sans-serif;
    }

        .blocs{
            text-align: center;
            width: 33%; 
        }

        .titre{
            font-size: 1.6em;
            text-transform: uppercase;
            font-weight: 400;
        }

        .text{

            font-size: 1.2em;
            margin: 0% 8% 5% 8%;
            font-weight: 300;
        }

    .bloc_dernier_text{
        width: 68%;
        margin: auto;
        text-align: center;
        
    }

    .dernier_text{
        color: #575757;
        font-size: 1.6em;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .Amandine{
        font-size: 1em;
        color: #575C61;
        margin: 1% 0 0 0;
        font-family: 'Roboto', sans-serif;
    }


footer{
        background-color: #5B359D;
        font-family: 'Roboto', sans-serif;
        padding-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .basee_a_Paris{
        color: white;
        text-align: center;
        font-weight: 800;
    }

    .icones{
        width: 25%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 2.3em;
        color: #BDAED8;
    }

    .les_trois_blocs_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .blocs_footer{
            padding: 2% 0 1% 0;
        }

        .titres_blocs_footer{
        color: #BDAED8;
        font-size: 1em;
        }

        ul.listes_footer{
        color: white;
        }

        .Adresse{

        color: white;
        list-style-type: none;
        }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .menu{
        font-size: 2em;
    }

    .Menu_du_header{
        font-size: 0.6em;
    }

    .Titre_centre{
        font-size: 1.5em;
    }

    .image_centre{
        width: 18em;
    }

    .bloc_grosse_image{
        background-position: center;
    }

    .les_trois_blocs, .premier_text, .dernier_text{
        width: 100%;
    }

    .premier_text{
        font-size: 1.5em;
    }

    .Texts_blocs{
        font-size: 1.1em;
    }


    .dernier_text{
        font-size: 1.5em;
        
    }

    .Amandine{
        font-size: 1.1em;
    }

    .basee_a_Paris{
        font-size: 1.1em;
    }

    .icones{
        font-size: 2em;
        width: 35%;
    }

    .les_trois_blocs_footer{
        font-size: 1.1em;
    }

    .titres_blocs_footer{
        font-size: 1.2em;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .Bloc_Page{
        width: 100%;
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo_entreprise{
        width: 100%;
    }

    .Menu_du_header{
        font-size: 3em;
    }

    .bloc_grosse_image{
        background-position: center;
        font-size: 250%;
    }

    .premier_text{
        width: 100%;
        margin: 0;
        font-size: 4em;
        margin-bottom: 2em;
    }

    .les_trois_blocs{
        width: 100%;
        margin: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .blocs{
        width: 100%;
        margin-bottom: 6em;
    }

    .logos{
        width: 25%;
    }

    .titre{
        font-size: 4em;
    }

    .text{
        font-size: 3.5em;
    }

    .bloc_dernier_text{
        width: 100%;
        margin-bottom: 4em;
    }

    .dernier_text{
        font-size: 4em;
    }

    .Amandine{
        font-size: 3em;
    }

    .basee_a_Paris{
        font-size: 2.2em;
        margin-bottom: 2.5em;
        margin-top: 2em;
        margin-bottom: 3em;
    }

    .icones{
        width: 80%;
        font-size: 5em;
        margin-bottom: 0.5em;
    }

    .les_trois_blocs_footer{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 7em;
    }

    .titres_blocs_footer{
        text-align: center;
        font-size: 4em;
        margin-bottom: 1em;
    }

    .listes_footer{
        text-align: center;
        font-size: 3em;
        margin: auto;
        width: 50%;
        line-height: 1.7em;
    }

    .Adresse{
        text-align: center;
        font-size: 3em;
        width: 50%;
        margin: auto;
    }

}

    

   
