

#Bloc_Page{
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2vw;
}

    #Menu_du_header{
        display: flex;
        align-content: space-between;
    }

    ul.menu{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .element_menu{
        padding-left: 2em;
    }

#bloc_grosse_image{
    background-image: url(../Defi_openclassrooms/images/backgroung_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15em 0em 15em 0em;
    display: flex;
    flex-direction: column;
    
}


    #image_centre{
        width: 15em;
        align-self: center;
    }

    #Titre_centre{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;

    }

.Texts_blocs{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2% 20% 0% 20%;
}

    .premier_text{
        text-align: center;
        margin: 0% 0% 3% 0%;
        font-size: 1.35vw;
    }

    .les_trois_blocs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0% 0% 4% 0%;
    }

        .blocs{
            text-align: center;
            width: 33%;
        }

        .titre{
            text-transform: uppercase;
        }


    .bloc_dernier_text{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .dernier_text{
        color: #575757;
        font-size: 1.3vw;
        margin: 0;
    }

    .Amandine{
        font-size: 1vw;
        color: #575C61;
        margin: 0;
    }